<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preload" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style/index.css">
</head>

<body>
    <h2>Иван Черемисин feziv</h2>
    <p>email: fess932@gmail.com</p>
    <p>telegram: <a href="https://t.me/fess932">fess932</a></p>

    <h2>обо мне</h2>
    <a href="https://github.com/fess932">Github</a>
    <a href="https://www.linkedin.com/in/fess932/">LinkedIn</a>

    <ul>
        <li>
            начинающий backend программист
        </li>
    </ul>

    <h2>навыки</h2>
    <ul>
        <li> основной язык разработки go</li>
        <li>websockets</li>
        <li>mongo</li>
    </ul>

    <h2>проекты</h2>
    <ul>
        <li>
            <a href="https://github.com/fess932/shtrih-m-driver">штрих-м драйвер</a>
        </li>
        <li>
            <a href="http://re-star.ru/">сайт с бекендом на go + 1C</a>
        </li>
    </ul>
    <h2>места работы</h2>
    <ul>
        <li>
            Re-Star компания стартеры генераторы 2017 - текущее время
        </li>
    </ul>
    <h2>книги</h2>
    прочитал
    <ul>
        <li>Грокаем алгоритмы. Бхаргава Адитья</li>
        <li>Чистый код</li>
        <li>Go на практике</li>
    </ul>

    читаю
    <ul>
        <li>Go для профи</li>
        <li>Программист прагматик</li>
        <li>Мифический человеко-месяц</li>
        <li>Путь программиста</li>
        <li>Проектирование Веб API. Арно Лоре</li>
        <li>Путь программиста</li>
    </ul>

    <h2>курсы</h2>
    <ul>
        <li>Harvard CS50</li>
        <li>Skillbox Golang Pro</li>
        <li>Mail.ru coursera Василий Романов Golang</li>
        <li><a href="https://www.youtube.com/playlist?list=PLrCZzMib1e9q-X5V9pTM6J0AemRWseM7I">Лекции от mail.ru</a>
        </li>

        <li>курс от learn.javascript.ru по javascript Илья Кантор</li>
    </ul>
</body>

</html>